/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/notes/filter/@sidebar/SideBarNotes.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.SideBarNotes_menuList__wtBlz {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.SideBarNotes_menuItem__mprzH {
    margin-bottom: 16px;
}

.SideBarNotes_menuLink__f5clH {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

.SideBarNotes_menuLink__f5clH:hover {
    background-color: #444;
    color: #ddd;
}
